In [1]:
import pyodbc

In [3]:
conn = pyodbc.connect('DSN=connect;PWD=')

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute("Select * from student")

In [6]:
value = cursor.fetchall()
for i in value:
    print(i)

('00128', 'Zhang', 'Comp. Sci.', Decimal('102'))
('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))
('19991', 'Brandt', 'History', Decimal('80'))
('23121', 'Chavez', 'Finance', Decimal('110'))
('44553', 'Peltier', 'Physics', Decimal('56'))
('45678', 'Levy', 'Physics', Decimal('46'))
('54321', 'Williams', 'Comp. Sci.', Decimal('54'))
('55739', 'Sanchez', 'Music', Decimal('38'))
('70557', 'Snow', 'Physics', Decimal('0'))
('76543', 'Brown', 'Comp. Sci.', Decimal('58'))
('76653', 'Aoi', 'Elec. Eng.', Decimal('60'))
('98765', 'Bourikas', 'Elec. Eng.', Decimal('98'))
('98988', 'Tanaka', 'Biology', Decimal('120'))

In [7]:
conn1 = pyodbc.connect('DRIVER={MySQL ODBC 8.0 Unicode Driver};SERVER=localhost;DATABASE=university;UID=root;PWD=')

In [8]:
cursor1 = conn1.cursor()

In [10]:
cursor1.execute("Select * from student")
values = cursor1.fetchall()
for i in values:
    print(i)

('00128', 'Zhang', 'Comp. Sci.', Decimal('102'))
('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))
('19991', 'Brandt', 'History', Decimal('80'))
('23121', 'Chavez', 'Finance', Decimal('110'))
('44553', 'Peltier', 'Physics', Decimal('56'))
('45678', 'Levy', 'Physics', Decimal('46'))
('54321', 'Williams', 'Comp. Sci.', Decimal('54'))
('55739', 'Sanchez', 'Music', Decimal('38'))
('70557', 'Snow', 'Physics', Decimal('0'))
('76543', 'Brown', 'Comp. Sci.', Decimal('58'))
('76653', 'Aoi', 'Elec. Eng.', Decimal('60'))
('98765', 'Bourikas', 'Elec. Eng.', Decimal('98'))
('98988', 'Tanaka', 'Biology', Decimal('120'))